<div class="small-12 page-heading-wrapper">
	<img src="./assets/img/header/2.jpg" width="100%">
	<h1 class="page-heading">About</h1>
</div>

<section id="about-me">
	<div class="container">
		<div class="row">
			<div class="small-12 columns">
				<h3>About Me</h3>
				<p>
					Leo was born in Guang Zhou and educated in Hong Kong and Canada. He received a Diploma of Technology with distinction in <a target="_blank" href="//www.bcit.ca/study/programs/6405dipma">Digital Design & Development</a> from <a target="_blank" href="//www.bcit.ca">BCIT</a> (British Columbia Institute of Technology) in Burnaby, BC.
				</p>
				<p>
					After having worked in the digital agency industry for a year and a half in Vancouver BC, he has earned the abilities to create any PHP-based web applications and websites using both front-end and back-end web development frameworks and techniques.
				</p>
				<p>
					While living an <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" data-click-open="true" tabindex="2" title="{{otaku}}">Otaku</span> lifestyle, Leo is working hard toward web development and hoping to become an Unicorn Web Developer in the next couple of years.
				</p>
				<p>
					When Leo is not at home (or not in front of his computer), he enjoys spending time outdoor with his friends. You can find him eating hearty dishes in a wide range kinds of food in a restaurant.
				</p>
			</div>
		</div>
	</div>
</section>

<section id="my-music">
	<div class="container">
		<div class="row">
			<div class="small-12 columns">
				<h3>Music Lover</h3>
				<p>Music is always my energy source. I listen to all sorts of music whenever I am programming. </p>
				<iframe width="100%" height="250" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/317985208&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
			</div>
		</div>
	</div>
</section>