<div class="small-12 page-heading-wrapper">
	<img src="./assets/img/header/3.jpg" width="100%">
	<h1 class="page-heading">Contact</h1>
</div>

<section id="contact-me">
	<div class="container">
		<div class="row">
			<div class="medium-12 columns">
				<h3>Contact Me</h3>
			</div>
		</div>
		<div class="row">
			<div class="medium-6 columns">
				<p>
					I am currently looking for <span>a full-time opportunity</span> in North America. Please contact me if you want to hire a Full-Stack PHP Web Developer.
				</p>
				<p>
					Thank you in advance!
				</p>
				<div id="map"></div>
			</div>
			<div class="medium-6 columns">
                <div class="email">
                	Email: <a class="contact-info-name" href="mailto: leotse89@gmail.com">leotse89@gmail.com</a>
                </div>
                <div class="phone">
                	Phone: <a class="contact-info-name" href="tel:7783169947">+1-778-316-9947</a>
                </div>
                <div class="linkedin">
                	LinkedIn: <a class="contact-info-name" href="//www.linkedin.com/in/leo-tse-7273a733/" target="_blank">LinkedIn</a>
                </div>
                <div class="github">
                	Github: <a class="contact-info-name" href="//github.com/leotse89" target="_blank">Github</a>
                </div>
			</div>
		</div>
	</div>
</section>