<div class="small-12 page-heading-wrapper">
    <img src="./assets/img/header/1.jpg" width="100%">
    <h1 class="page-heading">Resume</h1>
</div>

<div class="wrapper container">
    <div class="sidebar-wrapper">
        <div class="profile-container">
            <img class="profile" src="./assets/img/profile.jpg" alt="" />
            <h1 class="name">Leo Tse</h1>
            <h3 class="tagline">Full Stack PHP Developer & Designer</h3>
        </div><!--//profile-container-->
        
        <div class="contact-container container-block">
            <ul class="list-unstyled contact-list">
                <li class="email">
                	<i class="contact-info-icon fa fa-envelope" aria-hidden="true"></i><a class="contact-info-name" href="mailto: leotse89@gmail.com">leotse89@gmail.com</a>
                </li>
                <li class="phone">
                	<i class="contact-info-icon fa fa-phone" aria-hidden="true"></i><a class="contact-info-name" href="tel:7783169947">778-316-9947</a>
                </li>
                <li class="website">
                	<i class="contact-info-icon fa fa-globe" aria-hidden="true"></i><a class="contact-info-name" href="./" target="_blank">leot.info</a>
                </li>
                <li class="linkedin">
                	<i class="contact-info-icon fa fa-linkedin" aria-hidden="true"></i><a class="contact-info-name" href="//www.linkedin.com/in/leo-tse-7273a733/" target="_blank">LinkedIn</a>
                </li>
                <li class="github">
                	<i class="contact-info-icon fa fa-github" aria-hidden="true"></i><a class="contact-info-name" href="//github.com/leotse89" target="_blank">Github</a>
                </li>
            </ul>
        </div><!--//contact-container-->

        <div class="interests-container container-block">
            <h2 class="container-block-title">Interpersonal Skills</h2>
            <ul class="list-unstyled interests-list">
                <li>Ability to work effectively and effeciently in a team / by myself</li>
                <li>Easy-going and funny individual</li>
                <li>Fast and easy to teach or learn</li>
                <li>Great problem solving skills</li>
                <li>Keen eyes on details</li>
            </ul>
        </div><!--//interpersonal skills-->

        <div class="education-container container-block">
            <h2 class="container-block-title">Education</h2>
            <div class="item">
                <h4 class="degree">Diploma of Technology</h4>
                <h5 class="meta">British Columbia Institute of Technology</h5>
                <div class="time">2011 - 2014</div>
            </div><!--//item-->
        </div><!--//education-container-->
        
        <div class="languages-container container-block">
            <h2 class="container-block-title">Languages</h2>
            <ul class="list-unstyled interests-list">
                <li>English <span class="lang-desc">(Fluent)</span></li>
                <li>Cantonese <span class="lang-desc">(Native)</span></li>
                <li>Mandarin <span class="lang-desc">(Fluent)</span></li>
            </ul>
        </div><!--//interests-->
        
        <div class="interests-container container-block">
            <h2 class="container-block-title">Interests</h2>
            <ul class="list-unstyled interests-list">
            	<li>Japanese Animes & Manga</li>
            	<li>Game of Thrones</li>
            	<li>Food Adventure</li>
                <li>Video Gaming</li>
                <li>Basketball</li>
                <li>Technology</li>
                <li>Music</li>
            </ul>
        </div><!--//interests-->
        
    </div><!--//sidebar-wrapper-->

    <div class="main-wrapper">
        
        <section class="section summary-section">
            <h2 class="section-title"><i class="fa fa-user" aria-hidden="true"></i>Summary</h2>
            <div class="summary">
                <p>I am a passionate and self-motivated Full-Stack PHP Web Developer & Designer with more than 1 year and a half of work experience in the web industry. I aim to stay sharp in my technology career while providing my skills for a company’s needs in between the real world and the digital world.</p>
            </div><!--//summary-->
        </section><!--//section-->
        
        <section class="section experiences-section">
            <h2 class="section-title"><i class="fa fa-briefcase" aria-hidden="true"></i>Experiences</h2>
            
            <div class="item">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title">Web Developer</h3>
                    </div><!--//upper-row-->
                    <div class="company">Home Idol Building Supplies, Vancouver BC</div>
                    <div class="time">October 2017 - Present</div>
                </div><!--//meta-->
                <div class="details">
                    <ul>
                        <li>Designed, developed, edited, and, maintained the company's Shopify e-commerce website.</li>
                        <li>Learned about the Shopify's liquid syntax for its own way of web development.</li>
                        <li>Migrated the company's Wordpress+ Woocommerce website to the new Shopify site.</li>
                        <li>Tested, setup, and managed many external Shopify apps such as the iOS and Android mobile apps for the company's Shopify site.</li>
                        <li>Made customized front-end changes on the existing theme such as the front page, product page, product collection page, and other pages on the website requested by the CEO.</li>
                        <li>Managed the company's domains, Moneris payment gateway details.</li>
                        <li>Worked with the marketing team for special sales events (such as coupon codes) on social media platforms such as Instagram, Facebook Page, Google Business, etc.</li>
                        <li>Designed, created, and refined marketing graphics and product images with the marketing team occasionally.</li>
                        <li>Researched keywords for the construction industry, and enhanced the website's SEO accordingly.</li>
                        <li>Collected both online sales data on Shopify and website visitors' data on Google Analytics.</li>
                        <li>Helped the marketing team with Instagram ads, Facebook ads, Craigslist ads, and Google text ads.</li>
                        <li>Managed IT stuffs such as the internet modem/switch/router, the network printer, and the computers for both Vancouver and Richmond stores.</li>
                        <li>Inspected, tested, and set up new till's hardware and software provided by AM/PM Service for both Vancouver and Richmond stores.</li>
                        <li>Inspected, tested, and set up new pin pads provided by Moneris Solutions.</li>
                        <li>Inspected, tested, and set up Wechat Pay/Ali Pay machine provided by IoT Pay.</li>
                    </ul>
                </div><!--//details-->
            </div><!--//item-->

            <div class="item">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title">Lead Web Developer & Designer</h3>
                    </div><!--//upper-row-->
                    <div class="company">Evilnut Technology, Vancouver BC</div>
                    <div class="time">March 2016 - April 2017</div>
                </div><!--//meta-->
                <div class="details">
                    <ul>
                    	<li>Developed frontend and backend features for several LAMP (Linux, Apache, MySQL, and PHP) based 
    web applications.</li>
    					<li>Designed graphics and UI for several websites and PHP applications.</li>
    					<li>Used Wordpress and Magento 2 for some projects.</li>
    					<li>Worked with APIs (Paypal REST, Google Maps, Facebook, etc).</li>
    					<li>Maintained a web hosting server (CentOS with WHM & cPanel).</li>
    					<li>Migrated and backup websites and web applications to the hosting 
    					    server.</li>
    					<li>Optimized new and existing websites for better performance.</li>
    					<li>Managed domains and emails for colleagues and customers.</li>
    					<li>Provided tech support and shared knowledge with colleagues and 
    					    customers.</li>
    					<li>Collaborated with other developers and designers for some projects.</li>
                    </ul>
                </div><!--//details-->
            </div><!--//item-->
            
            <div class="item">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title">IT Clerk</h3>
                    </div><!--//upper-row-->
                    <div class="company">Guangson Consulting, Burnaby BC</div>
                    <div class="time">December 2014 - Feburary 2015</div>
                </div><!--//meta-->
                <div class="details">
                    <ul>
                    	<li>Maintained the company Drupal 7 website.</li>
    					<li>Supported colleagues for daily computer issues.</li>
    					<li>Configured and maintained the company’s network printers.</li>
    					<li>Managed the company’s cPanel server and email accounts.</li>
    					<li>Introduced better software tools for colleagues.</li>
                    </ul>
                </div><!--//details-->
            </div><!--//item-->
            
        </section><!--//section-->
        
        <section class="skills-section section">
            <h2 class="section-title"><i class="fa fa-rocket" aria-hidden="true"></i>Skills &amp; Proficiency</h2>
            <div class="skillset">        
                <div class="item">
                    <h3 class="level-title">HTML5 &amp; CSS3</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="100%">
                        </div>                                      
                    </div><!--//level-bar-->                                 
                </div><!--//item-->
                
                <div class="item">
                    <h3 class="level-title">Javascript &amp; jQuery</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="95%">
                        </div>                                      
                    </div><!--//level-bar-->                                 
                </div><!--//item-->
                
                <div class="item">
                    <h3 class="level-title">PHP</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="100%">
                        </div>                                      
                    </div><!--//level-bar-->                                 
                </div><!--//item-->
                
                <div class="item">
                    <h3 class="level-title">Laravel 5</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="100%">
                        </div>                                      
                    </div><!--//level-bar-->                                 
                </div><!--//item-->

                <div class="item">
                    <h3 class="level-title">Boostrap 3</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="100%">
                        </div>                                      
                    </div><!--//level-bar-->                                 
                </div><!--//item-->

                <div class="item">
                    <h3 class="level-title">Wordpress</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="100%">
                        </div>                                      
                    </div><!--//level-bar-->                                 
                </div><!--//item-->

                <div class="item">
                    <h3 class="level-title">Sass &amp; Less</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="90%">
                        </div>                                      
                    </div><!--//level-bar-->                                 
                </div><!--//item-->

                <div class="item">
                    <h3 class="level-title">Magento 2</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="80%">
                        </div>                                      
                    </div><!--//level-bar-->                                 
                </div><!--//item-->
                
                <div class="item">
                    <h3 class="level-title">Sketch, Illustrator &amp; Photoshop</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="95%">
                        </div>                                      
                    </div><!--//level-bar-->                                 
                </div><!--//item-->

                <div class="item">
                    <h3 class="level-title">Git (Github/Bitbucket)</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="95%">
                        </div>                                      
                    </div><!--//level-bar-->                                 
                </div><!--//item-->

                <div class="item">
                    <h3 class="level-title">Domain &amp; Email Management</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="100%">
                        </div>                                      
                    </div><!--//level-bar-->                                 
                </div><!--//item-->

                <div class="item">
                    <h3 class="level-title">WHM &amp; cPanel</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="90%">
                        </div>                                      
                    </div><!--//level-bar-->                                 
                </div><!--//item-->

                <div class="item">
                    <h3 class="level-title">Linux CentOS 7</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="80%">
                        </div>                                      
                    </div><!--//level-bar-->                                 
                </div><!--//item-->

                <div class="item">
                    <h3 class="level-title">Windows Server</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="60%">
                        </div>                                      
                    </div><!--//level-bar-->                                 
                </div><!--//item-->

                <div class="item">
                    <h3 class="level-title">Shopify</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="80%">
                        </div>                                      
                    </div><!--//level-bar-->                                 
                </div><!--//item-->

                <div class="item">
                    <h3 class="level-title">Angular 2</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="50%">
                        </div>                                      
                    </div><!--//level-bar-->                                 
                </div><!--//item-->
                
            </div>  
        </section><!--//skills-section-->
        
    </div><!--//main-body-->
</div>