<div class="small-12 page-heading-wrapper">
	<img src="./assets/img/header/5.jpg" width="100%">
	<h1 class="page-heading">Blog</h1>
</div>

<section id="contact-me">
	<div class="container">
		<div class="row">
			<div class="medium-12 columns">
				<h3>Instagram @leotse89</h3>
				<p>I don't usually blog. But when I do, I post it on Instagram!</p>
			</div>
			<div class="medium-12 columns">
				<div class="insta-container">
					<!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/9ef8d97a389a5e18b14e2701bd28773c.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;height:1200px;"></iframe>
				</div>
			</div>
		</div>
	</div>
</section>